<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add Habit</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-5 pure-u-md-1-3">&nbsp;</div>
            <div class="pure-u-3-5 pure-u-md-1-3 panel text-center">
                <div class="panel-header">
                        <a href="../index.html" class="pull-left">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    Add Habit
                </div>
                <div class="container">

                    <form class="pure-form pure-form-stacked">
                        <section class="subpanel">
                            <div class="subpanel-header text-left">
                                Title
                            </div>
                            <input id="habit-title" type="text" placeholder="Habit" autofocus>
                        </section>
                    </form>

                        <section class="subpanel">
                            <div class="subpanel-header text-left">
                                Icon
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-3">
                                    <div id="1" class="icon-wrapper-clickable" onclick="onSelectIcon(1)">
                                        <i class="fa fa-amazon fa-3x"></i>
                                    </div>
                                </div>
                                <div class="pure-u-1-3">
                                    <div id="2" class="icon-wrapper-clickable" onclick="onSelectIcon(2)">
                                        <i class="fa fa-bed fa-3x"></i>
                                    </div>
                                </div>
                                <div class="pure-u-1-3">
                                    <div id="3" class="icon-wrapper-clickable" onclick="onSelectIcon(3)">
                                        <i class="fa fa-beer fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="subpanel">
                            <div class="subpanel-header text-left">
                                Frequency
                            </div>
                            <div class="days-of-week">
                                <button id="10" onclick="onSelect(10)" class="pure-button">S</button>
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="11" onclick="onSelect(11)" class="pure-button">M</button>
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="12" onclick="onSelect(12)" class="pure-button">T</button>
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="13" onclick="onSelect(13)" class="pure-button">W</button>
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="14" onclick="onSelect(14)" class="pure-button">T</button>
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="15" onclick="onSelect(15)" class="pure-button">F</button>
                                <button id="16" onclick="onSelect(16)" class="pure-button">S</button>
                            </div>
                        </section>

                        <section class="subpanel">
                            <div class="subpanel-header text-left">
                                Times Per Day
                            </div>
                            <div class="days-of-week">
                                <button style="color: white; background-color: rgb(28, 184, 65);" id="20" onclick="onSelectDay(20)" class="button-large pure-button">1</button>
                                <button id="21" onclick="onSelectDay(21)" class="button-large pure-button">2</button>
                                <button id="22" onclick="onSelectDay(22)" class="button-large pure-button">3</button>
                            </div>
                        </section>

                        <a href="habits.html" class="panel-bottom-button button-large button-purple pure-button">
                            Save <i class="fa fa-check"></i>
                        </a>
                </div>
            </div>
            <div class="pure-u-1-5 pure-u-md-1-3">&nbsp;</div>
        </div>

        <script>
            function onSelect(id) {
                var button = document.getElementById(id);
                if(button.style.color == '' || button.style.color == 'black') {
                    button.style.color = 'white';
                    button.style.backgroundColor = 'rgb(28, 184, 65)';
                } else {
                    button.style.color = 'black';
                    button.style.backgroundColor = '#e6e6e6';
                }
            }
            function onSelectIcon(id) {
                var div = document.getElementById(id);
                if(div.style.backgroundColor == 'white' || div.style.backgroundColor == '') {
                    for(var i = 1; i <= 3; i++) {
                        var icon = document.getElementById(i);
                        icon.style.color = 'black';
                        icon.style.backgroundColor = 'white';
                    }
                    div.style.color = 'white';
                    div.style.backgroundColor = 'rgb(28, 184, 65)';
                } else {
                    div.style.color = 'black';
                    div.style.backgroundColor = 'white';
                }
            }
            function onSelectDay(id) {
                var button = document.getElementById(id);
                if(button.style.color == '' || button.style.color == 'black') {
                    for(var i = 20; i < 23; i++) {
                        var tmp = document.getElementById(i);
                        tmp.style.color = 'black';
                        tmp.style.backgroundColor = '#e6e6e6';
                    }
                    button.style.color = 'white';
                    button.style.backgroundColor = 'rgb(28, 184, 65)';
                }  else {
                    button.style.color = 'black';
                    button.style.backgroundColor = '#e6e6e6';
                }
            }
        </script>

    </body>
</html>
