<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vice/Virtue</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <main id="mainView1">
        <div id="wrapper">
            <div id="VvDiv" align="center">
                <img id="VvArt" src="../public/images/vicevirtue1.png">
            </div>
        </div>

        <h1 id="quote" align="center">
            "We first make our habits, then our habits made us." - John Dryden
        </h1>

        <hr>

        <div id="add-button-div" align="center">
            <span>
                <button id="add-vice">
                    add vice
                </button>
            </span>
            <span>
                <button id="add-virtue">
                    add virtue
                </button>
            </span>
        </div>
    </main>
</body>
</html>