<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>View Habits</title>
        <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    </head>
    <body>
        <main id="viewHabitsContent">
            <div class="viewHabit">
                <header>
                    Spend Less Money
                </header>
                <img src="../public/images/green-dollar-sign-clipart-green-dollar-sign-4.jpg" alt="Dollar Sign" class="viewHabitIcon">
                <div class="habitTracker">
                    <img src="../public/images/BigKekbi8.jpg" alt="Thumbs Up" class="thumbIcon">
                    <img src="../public/images/Thumbs-Down-Circle.png" alt="Thumbs Down" class="thumbIcon">
                </div>
            </div>
            <hr>
            <div class="viewHabit">
                <header>
                    Get More Sleep
                </header>
                <img src="../public/images/bed-md.png" alt="Bed" class="viewHabitIcon">
                <div class="habitTracker">
                    <img src="../public/images/BigKekbi8.jpg" alt="Thumbs Up" class="thumbIcon">
                    <img src="../public/images/Thumbs-Down-Circle.png" alt="Thumbs Down" class="thumbIcon">
                </div>
            </div>
            <hr>
            <div class="viewHabit">
                <header>
                    Stop Biting Nails
                </header>
                <img src="../public/images/stop.png" alt="Bed" class="viewHabitIcon">
                <div class="habitTracker">
                    <div class="habitStreakDisplay">
                        <span class="percentageGoal">70%</span>
                        <progress height="20px" value="70" max="100"></progress>
                        <div class="habitStreaks">
                            <span class="currentStreak">7 in a row!</span>
                            <span class="bestStreak">Best: 10</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>