<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vice/Virtue</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <main id="mainView1">

        <h1 id="VvDiv" align="center">
            <span>virtue /</span><span>vice</span>
        </h1>
        <h2 id="quote" align="center">
            "We first make our habits, then our habits made us." - John Dryden
        </h2>
        <div id="add-button-div" align="center">
            <span>
                <button id="add-vice">
                    add habit
                </button>
            </span>
        </div>
    </main>
</body>
</html>