/* font
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Cardo|Rock+Salt|Boogaloo|Limelight|Six+Caps);
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Architects+Daughter);

* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #fff;
}

a:hover {
    color: #ccc;
}

/*
*   UTILITY CLASSES
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    padding: 25px;
}

.left-header {
    text-align: left;
    margin-left: 32px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*
*    INDEX - index.html
*/
h1.index-heading {
    text-align: center;
    margin-top: 120px;
}
h3.index-quote {
	font-family: Architects Daughter, cursive; font-weight: lighter;
    margin-top: 50px;
    padding: 0px 20px;
    color: white;
}
button.index-button {
    margin-top: 180px;
}

body {
    background-image: url('../images/shattered/shattered.png');
}
/*
body {
    background-image: url('../images/footer_lodyas/footer_lodyas.png');
}
*/

/* Portrait */
@media (max-width: 480px) {
      .panel {
          min-width: 95% !important;
      }
}

.panel {
    /* Panel Styling */
    background: #3e3c3e;
    border-radius: 5px;
    color: white;

    /* Positioning in Center */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    min-width: 400px;
    max-width: 450px;
    height: 650px;
}

.panel-header {
    background-color: #1F1E1F;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-section {
    border-bottom: 1px solid white;
}

.panel-section .panel-section-header {
    color: red;
    font-size: 150%;
}

.panel-section .panel-bottom-button {
    margin-bottom: 0px;
}

.subpanel {
    background: #1f1e1f;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 7px 10px;
    margin-bottom: 15px;
}

.subpanel-header {
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.button-purple,
.button-blue {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-purple {
    background: rgb(245, 0, 245);
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button {
    color: black;
}

input {
    color: #000;
    width: 100%;
}

/*
*    LOGIN - login.html
*/
#login-page {

}

/*
 * ADD HABIT
 */
ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.days-of-week {
    margin-bottom: 5px;
}

.icon-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.icon-wrapper:hover {
    cursor: pointer;
}

.icon-wrapper i {
    margin-top: 28px;
}
button.index-button {
    margin-top: 180px;
}

/*
.day_of_week {
    font-size: 12px;
    color: black;
    margin: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #f5f5f5;
}
*/
/* John's sandbox */
#vice-text {
	font-family: 'Fredericka the Great', cursive; font-size: 2em; padding-left: 12px;
}

#virtue-text {
	font-family: Helvetica Light, Helvetica, sans-serif; font-weight: 100; font-size: 2em;
}

.flat-text {
	font-family: Helvetica Light, Helvetica, sans-serif; font-weight: 100;
}


#VvArt {
    width: 70%;
    height: 70%;
    border-radius: 0px 0px 0px 0px;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}


#quote {
    font-family: "Kaushan Script", sans-serif;
    color: #CACBCD;
    bottom: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

#add-vice {
    border-top: 1px solid #080808;
    background: #d69265;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4c05), to(#d69265));
    background: -webkit-linear-gradient(top, #ff4c05, #665952);
    background: -moz-linear-gradient(top, #ff4c05, #665952);
    background: -ms-linear-gradient(top, #ff4c05, #d69265);
    background: -o-linear-gradient(top, #ff4c05, #d69265);
    padding: 17.5px 35px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
#add-vice:hover {
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
#add-vice:active {
    box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}


#add-virtue {
    border-top: 1px solid #080808;
    background: #d69265;
    background: -webkit-gradient(linear, left top, left bottom, from(#29ab43), to(#d69265));
    background: -webkit-linear-gradient(top, #29ab43, #665952);
    background: -moz-linear-gradient(top, #29ab43, #665952);
    background: -ms-linear-gradient(top, #29ab43, #d69265);
    background: -o-linear-gradient(top, #29ab43, #d69265);
    padding: 17.5px 35px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
#add-virtue:hover {
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
#add-virtue:active {
    -webkit-box-shadow: inset 0 0 30px black;
    -moz-box-shadow: inset 0 0 30px black;
    box-shadow: inset 0 0 30px black;
}
/*
.virtue-text {
    font-family: "Limelight", sans-serif;
    color: #CACBCD;
}

.vice-text {
    font-family: "Rock Salt", cursive, italic ;
    color: white;
}
*/
/*******
 *
 */