/* font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Architects+Daughter);

* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #fff;
}

a:hover {
    color: #ccc;
}

/*
*   UTILITY CLASSES
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    padding: 20px;
}

.left-header {
    text-align: left;
    margin-left: 32px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*
*    INDEX - index.html
*/
h1.index-heading {
    text-align: center;
    margin-top: 120px;
}
h3.index-quote {
	font-family: Architects Daughter, cursive; font-weight: lighter;
    margin-top: 50px;
    padding: 0px 20px;
    color: white;
}
a.index-button {
    margin-top: 45%;
}

body {
    background-image: url('../images/shattered/shattered.png');
}

/* Portrait */
@media only screen and (max-width: 320px) {
    body h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 480px) {
    .panel {
        min-width: 100% !important;
    }
}

/*
*    LOGIN - login.html
*/
#login-page {

}

/*
 * ADD HABIT
 */
ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.days-of-week {
    margin-bottom: 5px;
}

.icon-wrapper, .icon-wrapper-clickable {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.icon-wrapper-success {
    background-color: rgb(28, 184, 65);
    color: white;
}

.icon-wrapper-none {
    height: 100px;
    width: 100px;
}

.icon-wrapper-none i {
    margin-top: 28px;
}

.icon-border-left {
    border-left: 1px solid #fff;
}

.icon-wrapper-clickable:hover {
    cursor: pointer;
}

.icon-wrapper i, .icon-wrapper-clickable i {
    margin-top: 28px;
}

.times-per-day,
.times-per-day-success,
.times-per-day-fail {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    height: 20px;
    width: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 7px 0px;
}

.times-per-day-success {
    background-color: rgb(28, 184, 65);
    color: white;
}

.times-per-day-fail {
    background: rgb(202, 60, 60); /* this is a maroon */
    color: white;
}

/*
*   Habits
*/
.center {
    margin: auto;
    width: 100%;
}

.thumbs-up {
    padding-left: 40px;
    width: 85px;
}
.thumbs-down {
    padding-right: 15px;
    width: 85px;
}

/* Index Text */
#vice-text {
	font-family: 'Fredericka the Great', cursive; font-size: 2em; padding-left: 12px;
}

#virtue-text {
	font-family: Helvetica Light, Helvetica, sans-serif; font-weight: 100; font-size: 2em;
}

.flat-text {
	font-family: Helvetica Light, Helvetica, sans-serif; font-weight: 100;
}

.icon-adder {
    display: inline-block;
}

/*
*   Universal
*/
.panel {
    /* Panel Styling */
    background: #3e3c3e;
    border-radius: 5px;
    color: white;

    /* Positioning in Center */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    min-width: 400px;
    max-width: 450px;
    height: 660px;
}

.panel-header {
    background-color: #1F1E1F;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-section {
    border-bottom: 1px solid white;
}

.panel-section .panel-section-header {
    color: red;
    font-size: 150%;
}

.panel-section .panel-bottom-button {
    margin-bottom: 0px;
}

.subpanel {
    position: relative;
    background: #1f1e1f;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    overflow-x: hidden;
}

.subpanel-habit {
    height: 155px;
}

.subpanel-no-padding {
    padding-bottom: 0px;
}

.subpanel-overflow-left {
    position: absolute;
    right: 200px;
    height: 145px;
}

.subpanel-overflow-right {
    position: absolute;
    left: 180px;
    border-left: 1px solid #fff;
    padding-left: 20px;
    height: 145px;
}

.subpanel-overflow-right a {
    margin-top: 45px;
    margin-right: 15px;
    width: 59px;
}

.subpanel-bottom-right-icon {
    position: absolute;
    color: white;
    bottom: 0px;
    right: 15px;
}

.subpanel-header {
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.button-purple,
.button-blue {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-purple {
    background: rgb(245, 0, 245);
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

input {
    color: #000;
    width: 100%;
}

#progress-meter {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border: none;
     width: 150px;
     height: 15px;
     display: block;
     color: dodgerblue;
     }

#progress-meter::-webkit-progress-bar {
         background-color: #eee;
         border-radius: 2px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
     }

#progress-meter::-moz-progress-bar {
         background-color: dodgerblue;
         border-radius: 2px;
     }

#progress-meter::-webkit-progress-value {
         background-color: dodgerblue;
     }
